.App {
    text-align: center;
}

h1, h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue', 'Droid Sans';
    font-weight: 500;
    margin-bottom: 1rem;
}